<h1>New Recommendation</h1>

<%= form_with(model: @recommendation, local: true) do |form| %>
  <% if @recommendation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recommendation.errors.count, "error") %> prohibited this recommendation from being saved:</h2>

      <ul>
        <% @recommendation.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :recommended_id, "Recommended User ID" %>
    <%= form.number_field :recommended_id %>
  </div>

  <div class="field">
    <%= form.label :course_id, "Course ID" %>
    <%= form.number_field :course_id %>
  </div>

  <div class="field">
    <%= form.label :message, "Recommendation Message" %>
    <%= form.text_area :message %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', recommendations_path %>
